header {
	height: 80px;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: var(--bg);
	text-align: center;
}

#logo {
	height: 100%;
}

input[name=nav] + label {
	font-size: 50px;
	position: absolute;
	right: 10px;
	top: 35px;
	width: 50px;
	color: #fff;
}

input[name=nav]:checked + label {
	color: var(--bg);

}


input[name=nav]:checked + label:after {
	content: 'close';
	position: absolute;
	color: #fff;
	left: 0;

}

#wrap > header nav {
	width: 100%;
	max-height: 0;
	transition: .5s;
	overflow: hidden;
	position: absolute;
	top: 79px;
	left: 0;
	display: block;
	z-index: 1000;
	background-color: var(--bg);
}

input[name=nav]:checked ~  nav {
	max-height: 100vh;
}

#wrap > header nav ul {
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

#wrap > header nav li a {
	display: block;
	font-size: 20px;
	padding: 5px 0;
	margin: 10px 0;
}





#channels li {
	margin: 30px 0;
	overflow: visible;
	clear: both;
	background-color: #fff;
	padding-bottom: 5px;
}

#channels li h2 {
	overflow: visible;
}

#channels li h2 span {
	display: block;
	text-align: center;
	line-height: 35px;
	font-weight: bold;
}

#channels li img {
	width: 100px;
	height: 100px;
	display: block;
	float: left;

	margin: -10px 10px;

	border-width: 5px;
	border-style: solid;
	border-image-source: -moz-linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(186,186,186,1) 100%);
	border-image-source: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(186,186,186,1) 100%);
	border-image-source: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(186,186,186,1) 100%);

	border-image-slice: 1;
}

#channels li a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#channels li a:hover {
	background: transparent !important;
}

#channels li p {
	padding-top: 35px;
}

#channels li p:before {
	background-color: var(--now-playing);
	display: block;
	padding-left: 120px;
	margin-bottom: 3px;
	line-height: 20px;
}

#channels li p span {
	color: #000;
	padding-right: 35px;
	padding-left: 130px;
}
