:root {
    --bg: #113041;
    --text: #fff;
    --track: #000;
    --now-playing: #cbab30;
    --playerBg: #b1ded7;
    --favouriteNormal: #fff;
    --favouriteHover: #cbab30;
    --favouritedActive: #cbab30;
    --favouritedButton: #fff;
    --linkNormal: #fff;
    --linkHover: #cbab30;
    --a80s: #670d53;
    --blues: #1d1b6f;
    --smooth-and-jazz: #730206;
    --chillout: #f66400;
    --classic-hits: #f7ad00;
    --chillhop: #632c6f;
    --vocals: #4c9ce0;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Montserrat, sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
}

input[name=nav] {
    display: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 30px;
}

p {
    font-size: 17px;
    margin: 10px 0;
}

ul {
    list-style: circle;
    margin-left: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
}

#wrap {
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
}

main {
    position: relative;
}

main .ad-1 {
    width: 300px;
    height: 250px;
}

#channels li {
    position: relative;
}

#channels p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

#channels p:before {
    content: attr(data-label);
    /* 'Now Playing'; */
    text-transform: uppercase;
    font-size: 10px;
}

#channels p span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3em;
}

#channels [property="track"] [property="name"] {
    font-weight: 300;
    font-size: 14px;
}

button,
label[for=nav] {
    font-family: "LiveNetworks-Icons";
    background: transparent;
    border: none;
    outline: none;
}

button.favourite {
    font-size: 48px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    margin: 0;
    padding: 0;
}
#description h2{
    margin-top: 30px;
    
}
#description{
    background-color: var(--bg);
    padding: 15px;
}

/*Mobile*/

@media only screen and (max-width: 701px) {
    h3 {
        margin: 0px;
    }
    header {
        width: 100%;
        height: 80px;
        display: flex;
        text-align: center;
    }
    header #logo {
        width: 100px;
        height: 100%;
    }
    #headerLogo h1 {
        position: absolute;
        margin-top: 41px;
        position: absolute;
        width: 30%;
        margin-left: 55%;
        font-size: 13px;
        color:black;
        text-transform: uppercase;
        font-weight: bold; 
    }
    #headerLogo p{
        position: absolute;
        margin-top: 35px;
        position: absolute;
        width: 30%;
        margin-left: 55%;
        font-size: 13px;
        color: black;
        font-weight: bold;
    }
    #languages ul li img {
        width: 30px;
        height: 16px;
    }
    #languages ul {
        display: flex;
        position: absolute;
        right: 0;
    }
    #languages li {
        list-style: none;
        position: relative;
        display: block;
        padding: 5px;
    }
    #wrap .share {
        position: absolute;
        right: 0;
        top: -40px;
        line-height: 50px;
        font-size: 25px;
    }
    #wrap .share:after {
        position: absolute;
        left: -49px;
        top: 0;
        content: '';
    }
    #wrap .share li {
        float: left;
        margin: 0 6px;
    }
    .share,
    .stationList {
        list-style: none;
    }
    #headerLogo img {
        width: 100%;
    }
    #headerLogo h1 {
        position: absolute;
        margin-top: 25px;
        width: 100px;
        font-size: 10px;
        margin-left: 55%;
        color: black;
        line-height: 15px;
    }
    #content-station {
        display: flex;
        margin-top: 10px;
    }
    #stations li {
        background-color: rgb(186, 186, 186);
        position: relative;
        -webkit-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
    }
    #stations {
        margin: auto;
    }
    .stationList {
        margin: auto;
        display:grid;
        grid-template-columns: auto auto ;
        column-gap: 5px;
    }
    .stationList li {
        margin-bottom: 25px;
        margin: auto auto 25px auto;
        width:150px;
    }
    .stationList h2 {
        background: rgb(194, 188, 188);
        background: linear-gradient(172deg, rgba(194, 188, 188, 1) 32%, rgba(252, 251, 245, 1) 100%);
        transition: background 5s 5s ease-out, background 10s 10s ease-out, all 0.5s 0s ease;
    }
    #stations img {
        width: 130px;
        height: 130px;
        padding: 10px;
    }
    [typeof="RadioStation"] [property="name"] {
        display: block;
        padding: 3px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        font-size: 13px;
        -webkit-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
    }
    .nowPlaying {
        background-color: white;
        position: relative;
        border-bottom-right-radius: 70px;
        font-size: 15px;
        padding: 2px 22px 10px 22px;
        text-align: center;
        font-weight: 400;
    }
    [typeof="MusicRecords"] [property="name"] {
        background-color: white;
        font-size: 15px;
        padding: 2px;
        text-transform: none;
    }
    #stations li a {
        position: relative;
    }
    [property="byArtist"] {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
        font-size: 16px;
        color: black;
    }
    [property="track"] {
        font-weight: 300;
        font-size: 14px;
    }
    #stations {
        color: var(--track);
    }
    #stations p span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
    }
    .fav {
        font-family: "Material Icons";
        background: transparent;
        font-size: 20px;
        position: absolute;
        bottom: 3px;
        right: 3px;
        border: none;
        margin: 0;
        padding: 0;
        color: var(--favouriteNormal);
        cursor: pointer;
    }
    .fav.active {
        color: var(--favouriteActive);
    }
    .fav:active {
        color: var(--favouriteHover);
    }
    .Playing {
        text-transform: uppercase;
        color: var(--now-playing);
        font-size: 12px;
        text-align: center;
    }
    .nowPlaying [property="name"] {
        color: rgb(49, 46, 46);
    }
    .nowPlaying span{
        width:100px;
    }
    #stations li a:hover{
        background-color: transparent;
    }
    footer {
        border-top: 4px solid var(--linkHover);
        background-color: rgba(31, 65, 84, .5);
    }
    footer nav {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    footer ul {
        display: grid;
    }
    footer li {
        margin: 5px 5px;
    }
    footer img {
        width: 100%;
        height: 80px;
    }
    #contactUs {
        margin-bottom: 30px;
    }
    #content-tac #header {
        text-align: center;
    }
    #content-privacy a,
    #content-tac a {
        color: yellow;
    }
    #content-privacy a:active,
    #content-tac a:active {
        color: var(--linkHover);
    }
    #content-privacy table {
        display: none;
    }
    #content-tac,
    #content-privacy {
        padding: 20px;
        background-color: rgba(31, 65, 84, .9);
        line-height: 1.5em;
    }
    /* header {
        height: 80px;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bg);
        text-align: center;
    }
    #logo {
        height: 100%;
    }
    input[name=nav]+label {
        font-size: 50px;
        position: absolute;
        right: 10px;
        top: 35px;
        width: 50px;
        color: #fff;
    }
    input[name=nav]:checked+label {
        color: var(--bg);
    }
    input[name=nav]:checked+label:after {
        content: 'close';
        position: absolute;
        color: #fff;
        left: 0;
    }
    #wrap>header nav {
        width: 100%;
        max-height: 0;
        transition: .5s;
        overflow: hidden;
        position: absolute;
        top: 79px;
        left: 0;
        display: block;
        z-index: 1000;
        background-color: var(--bg);
    }
    input[name=nav]:checked~nav {
        max-height: 100vh;
    }
    #wrap>header nav ul {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
    }
    #wrap>header nav li a {
        display: block;
        font-size: 20px;
        padding: 5px 0;
        margin: 10px 0;
        color: white;
    }
    #channels li {
        margin: 30px 0;
        overflow: visible;
        clear: both;
        background-color: #fff;
        padding-bottom: 5px;
    }
    #channels li h2 {
        overflow: visible;
    }
    #channels li h2 span {
        display: block;
        text-align: center;
        line-height: 35px;
        font-weight: bold;
    }
    #channels li img {
        width: 100px;
        height: 100px;
        display: block;
        float: left;
        margin: -10px 10px;
        border-width: 5px;
        border-style: solid;
        border-image-source: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(186, 186, 186, 1) 100%);
        border-image-source: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(186, 186, 186, 1) 100%);
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(186, 186, 186, 1) 100%);
        border-image-slice: 1;
    }
    #channels li a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #channels li a:hover {
        background: transparent !important;
    }
    #channels li p {
        padding-top: 35px;
    }
    #channels li p:before {
        background-color: var(--now-playing);
        display: block;
        padding-left: 120px;
        margin-bottom: 3px;
        line-height: 20px;
    }
    #channels li p span {
        color: #000;
        padding-right: 35px;
        padding-left: 130px;
    } */
}


/*Tablet*/

@media only screen and (min-width: 701px) {
    h3 {
        margin: 0px;
    }
    header {
        width: 100%;
        height: 80px;
        display: flex;
        text-align: center;
    }
    header #logo {
        width: 100px;
        height: 100%;
    }
    #languages ul li img {
        width: 30px;
        height: 16px;
    }
    #languages ul {
        display: flex;
        position: absolute;
        right: 0;
    }
    #languages li {
        list-style: none;
        position: relative;
        display: block;
        padding: 5px;
    }
    #wrap .share {
        position: absolute;
        right: 0;
        top: -40px;
        line-height: 50px;
        font-size: 25px;
    }
    #wrap .share:after {
        position: absolute;
        left: -49px;
        top: 0;
        content: '';
    }
    #wrap .share li {
        float: left;
        margin: 0 6px;
    }
    .share,
    .stationList {
        list-style: none;
    }
    #headerLogo img {
        width: 100%;
    }
    #headerLogo h1 {
        position: absolute;
        margin-top: 41px;
        position: absolute;
        width: 30%;
        margin-left: 55%;
        font-size: 20px;
        color:black;
        text-transform: uppercase;
        font-weight: bold; 
    }
    #headerLogo p{
        position: absolute;
        margin-top: 70px;
        position: absolute;
        width: 30%;
        margin-left: 55%;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    #content-station {
        display: flex;
        margin-top: 10px;
    }
    #stations li {
        background-color: rgb(186, 186, 186);
        position: relative;
        -webkit-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
    }
    #stations {
        margin: auto;
        color: var(--track);
    }
    .stationList {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
    }
    .Playing span{
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .stationList li {
        margin-bottom: 25px;
        margin: auto auto 25px auto;
    }
    .stationList h2 {
        background: rgb(194, 188, 188);
        background: linear-gradient(172deg, rgba(194, 188, 188, 1) 32%, rgba(252, 251, 245, 1) 100%);
        transition: background 5s 5s ease-out, background 10s 10s ease-out, all 0.5s 0s ease;
    }
    #stations img {
        width: 180px;
        height: 180px;
        padding: 10px;
    }
    [typeof="RadioStation"] [property="name"] {
        display: block;
        padding: 3px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        font-size: 15px;
        -webkit-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
    }
    .nowPlaying {
        background-color: white;
        position: relative;
        border-bottom-right-radius: 70px;
        font-size: 15px;
        padding: 2px 22px 10px 22px;
        text-align: center;
        font-weight: 400;
    }
    [typeof="MusicRecords"] [property="name"] {
        background-color: white;
        font-size: 15px;
        padding: 2px;
        text-transform: none;
    }
    #stations li a {
        position: relative;
    }
    #stations li a:hover{
        background-color: transparent;
    }
    [property="byArtist"] {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
        font-size: 16px;
        color: black;
    }
    [property="track"] {
        font-weight: 300;
        font-size: 14px;
    }
    #stations p span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
    }
    #stations .nowPlaying span {
        width: 150px;
    }
    .fav {
        font-family: "Material Icons";
        background: transparent;
        font-size: 20px;
        position: absolute;
        bottom: 3px;
        right: 3px;
        border: none;
        margin: 0;
        padding: 0;
        color: var(--favouriteNormal);
        cursor: pointer;
    }
    .fav.active {
        color: var(--favouriteActive);
    }
    .fav:active {
        color: var(--favouriteHover);
    }
    .Playing {
        text-transform: uppercase;
        color: var(--now-playing);
        font-size: 12px;
        text-align: center;
    }
    .nowPlaying [property="name"] {
        color: rgb(49, 46, 46);
    }
    footer {
        border-top: 4px solid var(--linkHover);
        background-color: rgba(31, 65, 84, .5);
    }
    footer nav {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    footer ul {
        display: flex;
    }
    footer li {
        margin: 5px 5px;
    }
    footer img {
        width: 100%;
        height: 80px;
    }
    #contactUs {
        margin-bottom: 30px;
    }
    #content-tac #header {
        text-align: center;
    }
    #content-privacy a,
    #content-tac a {
        color: yellow;
    }
    #content-privacy a:active,
    #content-tac a:active {
        color: var(--linkHover);
    }
    #content-privacy table {
        display: none;
    }
    #content-tac,
    #content-privacy {
        padding: 20px;
        background-color: rgba(31, 65, 84, .9);
        line-height: 1.5em;
    }
}


/*Desktop*/

@media only screen and (min-width: 1000px) {
    input[name=nav]+label {
        display: none;
    }
    #wrap>header,
    #wrap>footer {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: stretch;
        justify-content: space-between;
    }
    #logo {
        width: 250px;
    }
    #wrap>header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav {
        text-transform: uppercase;
        font-weight: 500;
    }
    nav ul li {
        float: left;
        font-size: 14px;
    }
    nav a {
        position: relative;
        display: block;
        padding: 20px;
    }
    a {
        border: none;
        outline: none;
    }
    #headerLogo img {
        width: 100%;
    }
    #wrap>footer {
        margin-top: 30px;
        padding-bottom: 60px;
    }
    #wrap>footer p {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #wrap>footer img {
        width: 95px;
    }
    #channels {
        display: grid;
        grid-template-areas: 'channels ad';
        grid-gap: 40px;
        margin-top: 40px;
    }
    #channels ul {
        grid-area: channels;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 40px;
    }
    #channels li {
        height: 290px;
    }
    #channels a {
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
    #channels a:hover:after {
        font-family: "LiveNetworks-Icons";
        content: 'play';
        font-size: 90px;
        line-height: 100px;
        display: block;
        border: 7px solid #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        /* z-index: 100; */
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translate(-50%, -50%);
    }
    /* 
	#channels a:hover:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	} */
    #channels h2 span {
        display: block;
        padding: 7px 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    #channels img {
        width: 180px;
        height: 180px;
        margin: 10px;
        display: block;
    }
    #channels p {
        padding: 2px 22px 10px 22px;
        border-bottom-right-radius: 70px;
    }
    #channels p:before {
        font-size: 10px;
    }
    /*.favourite:hover {
		color: var(--favouriteHover);
	}*/
    .player {
        border-width: 4px 0;
        border-style: solid;
        position: relative;
        height: 280px;
        width: 100%;
        overflow: hidden;
    }
    .carusel li {
        height: 280px;
    }
    #wrap .share {
        position: absolute;
        right: 0;
        top: -49px;
        line-height: 50px;
        font-size: 42px;
    }
    /*	#share:before {
		content: 'share';
		border-radius: 50%;
		padding: 5px;
		position: absolute;
	}*/
    #wrap .share:after {
        position: absolute;
        left: -49px;
        top: 0;
        content: '';
    }
    #wrap .share li {
        float: left;
        margin: 0 6px;
    }
    button.favourite {
        font-size: 16px;
        cursor: pointer;
    }
    /*Ads*/
    main .ad-1 {
        width: 300px;
        height: 600px;
        grid-area: ad;
    }
    .share,
    .stationList {
        list-style: none;
        margin: 0;
    }
    #content-tac,
    #content-privacy {
        background-color: rgba(31, 65, 84, .9);
        padding: 50px;
        line-height: 1.5em;
    }
    #content-privacy .sections {
        margin-left: 80px;
        color: yellow;
        list-style: decimal;
    }
    #content-privacy tr {
        background-color: rgba(255, 255, 255, .2);
    }
    #content-privacy tr ol {
        list-style: lower-alpha;
    }
    #content-privacy tr:nth-child(even) {
        background-color: rgba(255, 255, 255, .3);
    }
    #content-privacy td {
        padding: 20px;
        border: 1px solid rgb(167, 167, 167);
    }
    td ul {
        margin-left: 15px;
    }
    #content-privacy .sectionPrivacy {
        padding: 0px;
        margin-left: 0px;
    }
    #content-tac #header {
        text-align: center;
    }
    .stationList {
        list-style: none;
    }
    .nameRadio {
        font-size: 15px;
    }
    #privacy-content h2 {
        margin-top: 30px;
    }
    #content-privacy a,
    #content-tac a {
        color: yellow;
    }
    #content-privacy a:hover,
    #content-tac a:hover {
        color: var(--linkHover);
    }
    .nowPlaying span {
        width: 150px;
    }
}

@media only screen and (min-width: 1170px) {
    #wrap {
        width: 1170px;
        margin: 0 auto;
        min-height: 100vh;
        display: grid;
       
    }
    #channels ul {
        grid-template-columns: 200px 200px 200px 200px;
    }
    /*Ads*/
    main .ad-1 {
        width: 160px;
        height: 600px;
        grid-area: ad;
    }
}