h2 {
    margin: 10px;
    font-size: 40px;
}

.stationList {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
}

.stationList li {
    margin: auto;
    width: 200px;
    height: 210px;
}

.stationList a {
    width: 200px;
}

#stations img {
    width: 100%;
    height: 90%;
}