    #headerLogo h1 {
        position: absolute;
        margin-top: 41px;
        position: absolute;
        width: 100%;
        margin-left: 713px;
        font-size: 30px;
        color:black;
        text-transform: uppercase;
        font-weight: bold; 
    }
    #headerLogo p{
        position: absolute;
        margin-top: 77px;
        position: absolute;
        width: 100%;
        margin-left: 712px;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }
    #headerLogo{
        width: 100%;
    }
    
    #languages ul {
        width: 12rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    
    #languages ul li img {
        width: 30px;
        height: 16px;
    }
    
    #content-station {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
    }
    
    #stations li {
        background-color: rgb(186, 186, 186);
        position: relative;
        -webkit-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
        box-shadow: 9px 16px 34px -3px rgba(0, 0, 0, 0.55);
    }
    
    #ad {
        grid-column-start: 2;
        grid-column-end: 3;
        border: 1px solid red;
        width: 300px;
        height: 600px;
    }
    
    .stationList {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: auto;
        column-gap: 17px;
        row-gap: 40px;
    }
    
    .stationList h2 {
        background: rgb(194, 188, 188);
        background: linear-gradient(172deg, rgba(194, 188, 188, 1) 32%, rgba(252, 251, 245, 1) 100%);
        transition: background 5s 5s ease-out, background 10s 10s ease-out, all 0.5s 0s ease;
    }
    
    #stations img {
        width: 180px;
        height: 180px;
        display: block;
        padding: 10px;
    }
    
    [typeof="RadioStation"] [property="name"] {
        display: block;
        padding: 3px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        font-size: 15px;
        -webkit-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
        box-shadow: -1px 17px 34px -3px rgba(0, 0, 0, 0.52);
    }
    
    .nowPlaying {
        background-color: white;
        position: relative;
        border-bottom-right-radius: 70px;
        font-size: 15px;
        padding: 2px 22px 10px 22px;
        text-align: center;
        font-weight: 400;
    }
    
    [typeof="MusicRecords"] [property="name"] {
        background-color: white;
        font-size: 15px;
        padding: 2px;
        text-transform: none;
    }
    
    #stations li a {
        position: relative;
    }
    
    #stations li a:hover::after {
        font-family: "Material Icons";
        font-size: 90px;
        content: 'play_circle_outline';
        position: absolute;
        left: 53px;
        right: 0;
        top: 0;
        bottom: 0;
        color: #fff;
        line-height: 220px;
    }
    
    #stations li a:hover img {
        opacity: .3;
    }
    
    [property="byArtist"] {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
        font-size: 16px;
        color: black;
    }
    
    [property="track"] {
        font-weight: 300;
        font-size: 14px;
    }
    
    #stations {
        color: var(--track);
    }
    
    #amazing-80s h2:hover {
        background: var(--a80s);
    }
    
    #amazing-blues h2:hover {
        background: var(--blues);
    }
    
    #amazing-chillout h2:hover {
        background: var(--chillout);
    }
    
    #amazing-chillhop h2:hover {
        background: var(--chillhop);
    }
    
    #amazing-classic-hits h2:hover {
        background: var(--classic-hits);
    }
    
    #amazing-smooth-jazz h2:hover {
        background: var(--smooth-and-jazz);
    }
    #amazing-vocals h2:hover {
        background: var(--vocals);
    }
    
    #stations p span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.3em;
    }
    
    .fav {
        font-family: "Material Icons";
        background: transparent;
        font-size: 20px;
        position: absolute;
        bottom: 3px;
        right: 3px;
        border: none;
        margin: 0;
        padding: 0;
        color: var(--favouriteNormal);
        cursor: pointer;
    }
    
    .fav.active {
        color: var(--favouriteActive);
    }
    
    .fav:hover {
        color: var(--favouriteHover);
    }
    
    .Playing {
        text-transform: uppercase;
        color: var(--now-playing);
        font-size: 12px;
        text-align: center;
    }
    
    .nowPlaying [property="name"] {
        color: rgb(49, 46, 46);
    }