body {
	font-family: Montserrat, sans-serif;
	font-size: 11pt;
	line-height: 1.5em;

	background-size: cover;
	background-position: center top;
}

input[name=nav] {
	display: none;
}
h1{
	font-size: 1.7em;
	margin-top:20px;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 30px;
}

p {
	font-size: 17px;
	margin: 10px 0;
}
strong {
	font-weight: bold;
}
ul {
	list-style: circle;
	margin-left: 60px;
}

nav ul {
	list-style: none;
	margin: 0;
}

#wrap {
	margin: 0 auto;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 120px auto 150px;
}

main {
	position: relative;
}

main .ad-1 {
	width: 300px;
	height: 250px;
}

.content {
	padding: 15px;
	line-height: 1.5em;
}

.content input[type=text],
.content select,
.content textarea {
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.content textarea {
	height: 100px;
}

.content input[type=submit] {
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
}

.content {
	padding: 20px;
	font-size: 20px;
}

.stationList p[property="track"]:before {
	content: attr(data-label);
	text-transform: uppercase;
	font-size: 10px;
}

button,
label[for=nav] {
	font-family: "LiveNetworks-Icons";
	border: none;
	outline: none;
}

button.favourite {
	font-size: 48px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	margin: 0;
	padding: 0;
}
#description h2{
	margin-top: 30px;	
}
footer {
	margin-top: 30px;
}

#headerLogo {
	margin-bottom: 10px;
}

#headerLogo h1 {
	position: absolute;
	margin-top: 41px;
	width: 30%;
	text-transform: uppercase;
	font-weight: bold; 
}
#headerLogo p{
	margin-top: 77px;
	position: absolute;
	width: 30%;
	font-weight: bold;
}

[typeof="MusicRecords"] [property="name"] {
	font-size: 15px;
	padding: 2px;
	text-transform: none;
}

[property="byArtist"] {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.3em;
	font-size: 16px;
}
[property="track"] {
	font-weight: 300;
	font-size: 14px;
}
[typeof="RadioStation"] [property="name"] {
	justify-content: center;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    font-size: 15px;
    align-items: center;
    display: flex;
    height: 50px;
}
.nowPlaying {
	position: relative;
	height: 75px;
}

.stationList [property="track"] {
	margin: 0;
	position: absolute;
	border-bottom-right-radius: 70px;
	font-size: 15px;
	padding: 2px 22px 10px 22px;
	text-align: center;
	font-weight: 400;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}



.Playing {
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}
.fav {
	font-family: "LiveNetworks-Icons";
	font-size: 20px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.stationList li {
	position: relative;
}

.stationList h2 {
	font-size: 20px;
}

#stationLogo {
	padding: 30px;
	width: 200px;
	height: 200px;
}

.stationList li a:hover:after {
	font-family: "LiveNetworks-Icons";
	content: 'play_circle_outline';
	position: absolute;
}