
@media only screen and (max-width: 701px) {

	header{
		background-color: var(--bg);
	}

	header {
		width: 100%;
		height: 80px;
		display: flex;
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	header #logo {
		width: 100px;
		height: 100%;
	}
	#headerLogo h1 {
		margin-top: 41px;
		margin-left:55%;
        font-size: 13px;
	}
	#headerLogo p {
		margin-top: 35px;
		margin-left: 55%;
		font-size: 13px;
	}
	#languages ul li img {
		width: 30px;
		height: 16px;
	}
	#languages ul {
		display: flex;
		position: absolute;
		right: 0;
	}
	#languages li {
		list-style: none;
		position: relative;
		display: block;
		padding: 5px;
	}
	#wrap .share {
		position: absolute;
		right: 0;
		top: -40px;
		line-height: 50px;
		font-size: 25px;
		z-index: 100;
	}
	#wrap .share:after {
		position: absolute;
		left: -49px;
		top: 0;
		content: '';
	}
	#wrap .share li {
		float: left;
		margin: 0 6px;
	}
	.share,
	.stationList {
		list-style: none;
	}
	#headerLogo img {
		width: 100%;
	}
	#content-station {
        display: grid;
        grid-template-rows: auto auto;
        margin-top: 10px;
    } 

	#stations {
		margin: auto;
	}
	.stationList {
		margin: auto;
		display:grid;
		grid-template-columns: auto auto ;
		column-gap: 5px;
	}
	.stationList li {
		margin-bottom: 25px;
		margin: auto auto 25px auto;
		width:150px;
	}

	#stations img {
		width: 130px;
		height: 130px;
		padding: 10px;
	}
	[typeof="RadioStation"] [property="name"] {
		font-size: 13px;
	}

	#stations li a {
		position: relative;
	}
	#stations p span {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 1.3em;
	}

	.nowPlaying span{
		width:100px;
	}

	footer nav {
		margin: auto;
		width: 50%;
		text-align: center;
	}
	footer ul {
		display: grid;
	}
	footer li {
		margin: 5px 5px;
	}
	footer img {
		width: 100%;
		height: 80px;
    }
    #contactForm {
		display: inline;
	}
	#ad {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 300px;
        height: 50px;
        margin: auto auto 20px auto;
	}
	#player {
        margin: auto;
        height: 450px;
        text-align: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(203, 171, 48, 1) 0%, rgba(203, 171, 48, 0.49093140674238445) 100%);
        padding: 20px;
        overflow: hidden;
        box-shadow: 14px 10px 20px 0px rgba(0, 0, 0, 0.75);
    }
    #player img {
        width: 200px;   
        height: 200px;
    }
    #player button {
        color: white;
        background-color: darkred;
    }
    #player button:hover {
        cursor: pointer;
    }
    #playControl,
    #stopControl {
        height: 70px;
        width: 70px;
        font-size: 50px;
        border-radius: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        margin: 40px auto;
    }
    #playControl {
        visibility: hidden;
    }
    #volumeControl {
        width: 200px;
        padding: 5px;
        background-color: darkred;
        line-height: 30px;
        margin: -129px auto auto auto;
        border-radius: 0px 0px 15px 15px;
    }
    #volumeControl input[type="range"] {
        border: none;
        outline: none;
    }
    #player #nowPlaying {
        background: none;
        margin: auto 15px;
        border-radius: 0;
        margin: 50px auto auto auto;
    }
    #player .Playing {
        color: darkred;
    }
    #player h1 {
        font-size: 20px;
        text-align: center;
        margin: auto;
        background-color: darkred;
        line-height: 45px;
        width: 210px;
        border-radius: 15px 15px 0px 0px;
    }


}
