
@media only screen and (min-width: 700px) and (max-width: 999px) {
	h3 {
		margin: 0px;
	}
	#headerLogo h1 {
        margin-left: 55%;
        font-size: 20px;
	}
	#headerLogo p {
		margin-top: 70px;
		margin-left: 55%;
		font-size: 20px;
	}
	header {
		width: 100%;
		height: 80px;
		display: flex;
		text-align: center;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	header #logo {
		width: 100px;
		height: 100%;
	}
	#languages ul li img {
		width: 30px;
		height: 16px;
	}
	#languages ul {
		display: flex;
		position: absolute;
		right: 0;
	}
	#languages li {
		list-style: none;
		position: relative;
		display: block;
		padding: 5px;
	}
	#wrap .share {
		position: absolute;
		right: 0;
		top: -40px;
		line-height: 50px;
		font-size: 25px;
		z-index: 100;
	}
	#wrap .share:after {
		position: absolute;
		left: -49px;
		top: 0;
		content: '';
	}
	#wrap .share li {
		float: left;
		margin: 0 6px;
	}
	.share,
	.stationList {
		list-style: none;
	}
	#headerLogo img {
		width: 100%;
	}
    #content-station {
        display: grid;
        grid-template-rows: auto auto;
        margin-top: 10px;
    }
	#stations li {
		position: relative;
	}
	#stations {
		margin: auto;
	}
	.stationList {
		margin: auto;
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 15px;
	}
	.Playing span{
		width: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.stationList li {
		margin-bottom: 25px;
		margin: auto auto 25px auto;
	}
	#stations img {
		width: 180px;
		height: 180px;
		padding: 10px;
	}
	#stations li a {
		position: relative;
	}
	#stations p span {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 1.3em;
	}
	#stations .nowPlaying span {
		width: 150px;
	}
	footer nav {
		margin: auto;
		width: 50%;
		text-align: center;
	}
	footer ul {
		display: flex;
	}
	footer li {
		margin: 5px 5px;
	}
	footer img {
		width: 100%;
		height: 80px;
	}
	#contactUs {
		margin-bottom: 30px;
	}
	#contactForm {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
	}
	#ad {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 728px;
        height: 90px;
        margin: auto auto 20px auto;
	}
	#player {
        background: linear-gradient(180deg, rgba(203, 171, 48, 1) 0%, rgba(203, 171, 48, 0.49093140674238445) 100%);
        padding: 20px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 250px 70px 300px auto;
        grid-template-rows: auto auto auto;
    }
    #player picture {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #player img {
        border: 5px solid white;
        width: 200px;
        height: 200px;
    }
    #player button {
        color: white;
        background-color: darkred;
    }
    #player button:hover {
        cursor: pointer;
    }
    #playControl,
    #stopControl {
        height: 70px;
        width: 70px;
        font-size: 50px;
        border-radius: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        margin: auto;
    }
    #playControl {
        visibility: hidden;
    }
    #volumeControl {
        width: 200px;
        padding: 5px;
        background-color: darkred;
        display: flex;
        line-height: 30px;
        margin-top: -6px;
        border-radius: 0px 0px 15px 15px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #volumeControl input[type="range"] {
        border: none;
        outline: none;
    }
    #player #nowPlaying {
        background: none;
        margin: auto 15px;
        border-radius: 0;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #player .Playing {
        color: darkred;
    }
    #player h1 {
        font-size: 20px;
        text-align: center;
        margin: 0px;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: darkred;
        line-height: 45px;
        width: 210px;
        border-radius: 15px 15px 0px 0px;
    }

}
