:root {
	--bg: #113041;
	--text: #fff;
	--track: #000;

	--now-playing: #cbab30;
	--playerBg: #b1ded7;
	--favouriteNormal: #fff;
	--favouriteHover: #cbab30;
	--favouritedActive: #cbab30;
	--favouritedButton: #fff;

	--linkNormal: #cbab30;
	--linkHover: #f7ad00;
	--a80s: #670d53;
	--blues: #1d1b6f;
	--smooth-and-jazz: #730206;
	--chillout: #f66400;
	--classic-hits: #f7ad00;
	--chillhop: #632c6f;
	--vocals: #4c9ce0;

	--navNormal: #fff;
	--navHover: #cbab30;

	--contentBg: 31,65,84;
}

body {
	background-color: var(--bg);
	color: var(--text);
}

a {
	color: var(--linkNormal);
}

a:hover {
	color: var(--linkHover);
}

nav a {
	color: var(--navNormal);
	transition: color .3s;
}
nav a:hover {
	color: var(--navHover)
}

#amazing-blues h2 span, #amazing-blues a:hover, .player.amazing-blues {
	background-color: var(--blues);
}
#amazing-smooth-jazz h2 span, #amazing-smooth-jazz a:hover, .player.amazing-smooth-jazz {
	background-color: var(--smooth-and-jazz);
}
#amazing-80s h2 span, #amazing-80s a:hover, .player.amazing-80s {
	background-color: var(--a80s);
}

#amazing-chillout h2 span, #amazing-chillout a:hover, .player.amazing-chillout {
	background-color: var(--chillout);
}

#amazing-chillhop h2 span, #amazing-chillhop a:hover, .player.amazing-chillhop {
	background-color: var(--chillhop);
}

#amazing-classic-hits h2 span, #amazing-classic-hits a:hover, .player.amazing-classic-hits {
	background-color: var(--classic-hits);
}

#amazing-vocals h2 span, #amazing-vocals a:hover, .player.amazing-vocals {
	background-color: var(--vocals);
}

#amazing-blues a:hover:after {
	background-color: rgba(var(--blues), .8);
}


#wrap > footer {
	border-top: 4px solid var(--linkHover);
	background-color: rgba(var(--contentBg), .5);
}

#wrap .share {
	background-color: var(--linkHover);
	color: #fff;
}
#wrap .share a {
	color: #fff;
}
#wrap .share:after {
    border-bottom: 50px solid var(--linkHover);
    border-left: 50px solid transparent;
}
#wrap .share:before {
	border: 2px solid #fff;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	-ms-transition: -ms-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}

.content {
	border-top: 4px solid var(--linkHover);
	background-color: rgba(var(--contentBg), .8);
}

.content tr {
	background-color: rgba(255, 255, 255, .2);
}
.content tr:nth-child(even) {
	background-color: rgba(255, 255, 255, .3);
}

.content td {
	border: 1px solid rgb(167, 167, 167);
}


.content input[type=submit] {
	background-color: var(--bg);
	color: white;
}
.content input[type=submit]:hover {
	color: var(--linkHover);
}
.content input[type=text],
.content select,
.content textarea{
	border: 1px solid #ccc;
}

.stationList li {
	background-color: rgb(186, 186, 186);
}

.stationList li h2 {
	background: -moz-linear-gradient(180deg, rgba(186,186,186,1) 20%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(186,186,186,1) 20%, rgba(255,255,255,1) 100%);
	background: linear-gradient(180deg, rgba(186,186,186,1) 20%, rgba(255,255,255,1) 100%);

	-webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.3);
}

.stationList li a {
	-webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);


	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;

	color: #fff;
}


.stationList a:hover picture {
	opacity: .3;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;

}

.stationList .nowPlaying  {
	background-color: #fff;
	color: #000;
}
.nowPlaying [property="name"] {
	color: rgb(107, 105, 105);
}

.nowPlaying p[typeof="MusicRecording"]:before {
	color: var(--now-playing);
}

#player {
	background-color:var(--linkHover);
	background: linear-gradient(180deg, #f7ad00 0%, rgba(203, 171, 48, 0.49093140674238445) 100%);
}
#player h1{
	background-color: var(--smooth-and-jazz);
}
#player img {
	border: 5px solid white;
}

#volumeControl {
	background-color: var(--smooth-and-jazz);
}
#player button {
	color: white;
	background-color: var(--smooth-and-jazz);
}
#player [property="byArtist"] {
	color: black;
}
.Playing {
	color: var(--smooth-and-jazz);
}
.fav {
	color: var(--text);
}
.fav:hover {
	color: var(--linkHover);
}
