body {
	font-family: Montserrat, sans-serif;
	background-attachment: fixed;
}

h1{
	font-size: 1.7em;
	margin-top:20px;
	line-height: 1em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 30px;
}

p {
	font-size: 17px;
	margin: 10px 0;
}
strong {
	font-weight: bold;
}
ul {
	list-style: circle;
	margin-left: 60px;
}
.sections{
	list-style: decimal;
	margin-left: 60px;
}
.sectionPrivacy {
	list-style: decimal;
}

#wrap {
	position: relative;
	margin: 0 auto;
	min-height: 100vh;
    /* display: grid; */
    grid-template-rows: 130px auto 130px;
}


#logo {
	aspect-ratio: 250/120;
}

#heroBox {
	position: relative;
}

nav ul, nav ul li, .share {
	list-style: none;
	margin: 0;
	padding: 0;
}


#main {
	position: relative;
}


.content {
	padding: 35px;
	font-size: 20px;
	line-height: 1.3em;
}
.content td {
	border: 1px solid rgb(167, 167, 167);
	padding: 8px;
}
.content td ul{
	margin-left: 25px;
}
footer {
	display: flex;
	justify-content: space-between;
}

#wrap footer p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#wrap footer img {
	width: 95px;
}

#logoFooter {
	height: auto;
	width: 95px;
}

button, label[for=nav] {
	border: none;
	outline: none;
}

button.fav {
	font-size: 19px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	margin: 0;
	padding: 0;
}


.stationList {
	display: grid;
}
.stationList, .stationList li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	position: relative;
}

.stationList li {
	height: 314px;
}

.stationList p {
	margin: 0;
	font-size: 11pt;
}

.stationList a {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.stationList a:hover:after {
	font-family: "LiveNetworks-Icons";
	content: 'play_circle_outline';
	font-size: 90px;
	line-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	margin-top: 44px;
}

.stationList picture {
	display: block;
	margin: 10px;
}

.stationList span {
	display: block;
}

.stationList [typeof="RadioStation"] [property="name"] {
	justify-content: center;
	padding: 3px;
	text-transform: uppercase;
	text-align: center;
	width: auto;
	font-size: 15px;
	align-items: center;
	display: flex;
	height: 50px;
	box-sizing: border-box;
}
.nowPlaying p[typeof="MusicRecording"]:before {
	content: attr(data-label);
	display: block;
	text-transform: uppercase;
	font-size: 10pt;
	padding-top: 7px;
	line-height: 1.3em;
}

.stationList .nowPlaying {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 250px;
	padding: 2px 5px 10px 5px;
	border-bottom-right-radius: 70px;
}

.stationList .nowPlaying p[typeof="MusicRecording"] span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.3em;
	margin-left: 4px;
    margin-right: 18px;
}
.stationList [typeof="MusicRecording"] [property="name"] {
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

footer {
	margin-top: 30px;
}


.ad {
	overflow: hidden;
}


#ad1 {
	grid-area: ad1;
}
#ad2 {
	grid-area: ad2;
}
/* #player {
	padding: 20px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 250px 70px 300px auto;
	grid-template-rows: auto auto auto;
	border-style: solid;
	position: relative;
	height: 310px;
	overflow: hidden;
} */
#player p[typeof="MusicRecording"]:before {
	content: attr(data-label);
	display: block;
	text-transform: uppercase;
	font-size: 10pt;
	padding-top: 7px;
	line-height: 1.3em;
}

#playControl, #stopControl {
	height: 70px;
	width: 70px;
	font-size: 50px;
	border-radius: 100%;
	font-family: "LiveNetworks-Icons";
}
#playerComponent li {
	height: 280px;
}
#playerComponent picture {
	width: 180px;
    display: block;
    height: 180px;
    padding: 10px;
	
}
#playerComponent h1 {
	margin: 0px;
	line-height: 31px;
	justify-content: center;
	padding: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	display: flex;
	height: 55px;
	align-items: center;

}


/* #player picture {
	grid-column: 1/2;
	grid-row: 2/3;
} */
 #playerComponent {
	margin: auto;
	width: 200px;
	border-radius: 15px;
	overflow:hidden;
}
#volumeControl button {
	font-family: "LiveNetworks-Icons";
}
#volumeControl{
	display: flex;
	height: 35px;
	
}
#nowComponent #nowPlaying {
	background: none;
	margin: auto 15px;
	border-radius: 0;
}
.Playing {
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
}

 #player [property="byArtist"] {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.3em;
	font-size: 19px;
}
#player [property="track"] {
	font-weight: 300;
	font-size: 17px;
}
#contactForm {
    display: grid;
    grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
}
#feName {
    padding: 5px;
    grid-column: 1/2;
	grid-row: 1/2
}
#feEmail {
    padding: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#feMessage {
    grid-column: 1/3;
    grid-row: 2/3;
}
.content input[type=submit] {
    background-color: var(--bg);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}
.content input[type=text], .content select, .content textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	resize: vertical;
	font-family: Montserrat, sans-serif;
}
