@media (max-width: 767px) {

	#wrap {
		width: 100%;
		margin: auto;
		display: grid;
    	grid-template-rows: 50px auto 185px;
	}
	#wrap > header, #wrap > footer {
		position: relative;
	}
	#nav {
		visibility: hidden;
	}
	footer {
		display: grid;
	}
	#wrap > footer {
		padding: 20px;
	}

	/* Header */
	#wrap header {
		display: flex;
    	justify-content: space-between;
	}
	#logo {
		height: 50px;
	}

	#wrap nav {
		text-transform: uppercase;
		font-weight: 500;
		display: flex;
	}

	#wrap nav ul {
		display: flex;
		justify-content: space-between;
	}

	/* Share icons */
	#wrap .share {
		display: flex;
		position: absolute;
		right: 0;
		bottom: -2px;
		font-size: 20px;
	}

	#wrap .share li {
		float: left;
		margin: 0px 7px;
	}
	#wrap .share:after {
		position: absolute;
		left: -20px;
		top: 0px;
		content: '';
		border-bottom: 20px solid var(--linkHover);
		border-left: 21px solid transparent;
	}
	#wrap nav a {
		position: relative;
		font-size: 9px;
	}
	#wrap nav ul {
		display: flex;
		flex-direction: column;
		margin: auto;
		text-align: center;
	}
	#wrap nav ul li {
		font-size: 14px;
	}

	/* HeroBox */
	#heroBox {
		/* width: 300px;
		margin: auto; */
		display: none;
	}

	#heroBox img {
		width: 300px;
		height: 72px;
	}

	#heroBox h1, #heroBox p {
		position: absolute;
	}

	#heroBox h1{
		margin-left: 59%;
		margin-top: 5%;
		position: absolute;
		font-size: 9px;
	}
	#heroBox p {
		position: absolute;
		margin-left: 59%;
		margin-top: 8%;
		font-size: 10px;
	}

	/* Ads  */
	#ad1, #ad2 {
		width: 300px;
		height: 250px;
		margin: 0px auto 10px auto	}
	#ad1 {
		grid-area: ad1;
	}
	#ad2 {
		grid-area: ad2;
		margin-top: 10px;
	}
	/* StationList */
	#channels {
		display: grid;
		grid-template-areas: 
		'ad1'
		'stationList'
		'ad2';
		margin-top: 20px;
	}

	.stationList {
		grid-area: stationList;
		grid-template-columns: 150px 150px;
		grid-gap: 20px;
		margin: auto;
	}

	#stations img {
		width: 130px;
    	height: 130px;
	}
	.stationList .nowPlaying {
		top:205px;
	}
	.stationList li {
		height: 280px;
	}
	.stationList [typeof="RadioStation"] [property="name"] {
		height: 55px;
	}
	/* Player */
	#player {
		display: grid;
		grid-template-areas: 
		"playerComponent"
		"nowComponent"
		"ad3"
		;
		
	}
	#playerComponent {
		grid-area: playerComponent;
		margin: 20px auto;
	}
	#nowComponent {
		grid-area: nowComponent;
		margin: auto;
	}
	#ad3 {
		grid-area: ad3;
		margin: auto;

	}
	#player h1 {
		margin: 0px auto;
	}
	#player img {
		margin: 0px auto;
	}
	#player #volumeControl {
		margin: 0px auto;
	}
	#player #nowPlaying {
		margin: 0px auto;
	}
	
	#player #ad3 {
		
		margin: 20px auto ;
		width: 300px;
		height: 250px;
		grid-area: ad3;
		margin: 30px auto;
	}
	
	#player [property="byArtist"] {
		text-align: center;
	}
	#player [property="track"] {
		align-items: center;
		display: grid;
	}
	#player [typeof="MusicRecording"] [property="name"] {
		text-align: center;
	}
	#player p[typeof="MusicRecording"]:before {
		margin: auto;
	}
	#contactForm {
		display: block;

	}
}
