@media (min-width: 768px) and (max-width: 1024px) {

	#wrap {
		width: 774px;
	}

	#wrap > header, #wrap > footer {
		position: relative;
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: stretch;
	}

	footer p{
		font-size: 14px;
	}

	#wrap > footer {
		padding: 20px;
	}

	#logo {
		height: 100px;
	}
	#wrap nav {
		display: flex;
	}

	#wrap nav ul {
		display: flex;
		justify-content: space-between;
	}
	
	/* Share icons */
	#wrap .share {
		display: flex;
		position: absolute;
		right: 0;
		bottom: 0;
		line-height: 50px;
		font-size: 42px;
	}

	#wrap .share li {
		float: left;
		margin: 0px 7px;
	}
	#wrap .share:after {
		position: absolute;
		left: -49px;
		top: 0px;
		content: '';
	}

	#wrap nav {
		text-transform: uppercase;
		font-weight: 500;
	}

	#wrap nav a {
		position: relative;
		display: block;
		padding: 20px;
	}

	#wrap nav ul li {
		font-size: 14px;
	}
	
	#navMenu {
		visibility: hidden;
	}
	/* Ads */
	#ad1, #ad2 {
		width: 300px;
		height: 250px;
		margin: 20px auto;
	}
	#ad1 {
		grid-area: ad1;
	}
	#ad2 {
		grid-area: ad2;
	}

	/* stationList */
	#channels {
		display: grid;
		grid-template-areas: 
		'ad1'
		'stationList'
		'ad2';
		margin-top: 20px;
	}
	.stationList {
		grid-area: stationList;
		grid-template-columns: 200px 200px 200px;
		grid-gap: 40px;
		margin:auto;
	}
	#heroBox img{
			width: 100%;
	}
	#heroBox h1{
		margin-left: 60%;
		margin-top: 7%;
		position: absolute;
	}
	#heroBox p {
		position: absolute;
		margin-left: 60%;
		margin-top: 10%;

	}
	/* Player */
	#player img {
		margin-bottom: 42px;
	}
	#player #ad3 {
		grid-column: 2/4;
    	grid-row: 1/3;
		width: 300px;
		height: 250px;
	}
	#playControl, #stopControl {
		height: 60px;
		width: 60px;
		font-size: 45px;
		border-radius: 100%;
		grid-column: 2/3;
		grid-row: 3/4;
		margin: auto;
		margin-top: -45px;
	}
	#player #nowPlaying {
		margin-top: 193px;
		grid-column: 3/4;
   		grid-row: 2/4;
	}
	#player {
		height: 330px;
	}
	#volumeControl {
		margin-top: -44px;
	}

}